.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/* Make material buttons span the container when using .full-width */
.full-width {
  display: block;
  width: 100%;
}

/* Make form fields span the available width inside the card */
.example-card mat-form-field,
.example-container mat-form-field {
  width: 100%;
  box-sizing: border-box;
}

app-root {
  display: flex;
  align-items: center;
  justify-content: center;
}
