/* You can add global styles to this file, and also import other style files */

@import './styles/colors.css';

@import "tailwindcss";

/* Add Roboto for consistent Material look */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Center the app-login component horizontally and vertically */
html, body, app-root {
  height: 100%;
  margin: 0;
}

/* app-root {
  display: flex;
  align-items: center;
  justify-content: center;
} */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


/* @use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
} */
